<%= simple_form_for @book do |f| %>
<%= f.error_notification %>
  <div class="form-inputs">
  <%= f.input :title, label: "Book Title" %>
  <%= f.input :description %>
  <%= f.input :isbn %>
  <%= f.input :author %>
  <%= f.input :class %>
  <%= f.input :class_date %>
  <%= f.label :book_type %>
  <%= f.select :book_type, Book.book_types.keys %>
  <%= f.label :condition %>
  <%= f.select :condition, Book.conditions.keys %>
  <%= f.input :price %>
</div>

 <div class="form-actions">  
  <%= f.button :submit %>
</div>
<% end %>