<% @books.each do |book| %>
	<div class="col-md-4">
		<div class="book">
			<h2 class="book-title">
			<%= @book.title %></h2>

			<h2>
			<%= @book.description %></h2>

			<h2>
			<%= @book.isbn %></h2>

			<h2>
			<%= @book.author %></h2>

			<h2>
			<%= @book.class %></h2>

			<h2>
			<%= @book.class_data%></h2>

			<h2>
			<%= @book.book_type %></h2>

			<h2>
			<%= @book.condition %></h2>

			<h2>
			<%= @book.price %></h2>

			<h2><%= link_to 'Show', book %></h2>
			<h2><%= link_to 'Edit', edit_book_path(book) %></h2>
			<h2><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></h2>

			<%= link_to "View Book", book, class: "btn-custom" %>
		</div>
	</div>
<% end %>
<br>

<%= link_to 'New Book', new_book_path %>